.message {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    width: 575px;
    height: 77px;
    flex-shrink: 0;
    margin-bottom: 47px;
    margin-left: 635px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    min-height: 60px;
    flex-shrink: 0;
}

.imageAndText img {
    margin-top: 12px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 48px;
    background: lightgray -16.029px 0px / 150.121% 100% no-repeat;
}

.text {
    display: flex;
    flex-direction: column;
    width: 527px;
    min-height: 60px;
    padding-bottom: 10px;

    flex-shrink: 0;
    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */


    -webkit-mask: radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r) / -2) calc(var(--r) / -2) padding-box,
    radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0/var(--r) var(--r) space padding-box;
    background: linear-gradient(135deg, #06C, #1384C5) border-box;
    color: #fff;

    --_d: 100%;
    border-right: var(--t) solid #0000;
    margin-left: var(--t);
    place-self: end;
}

.text:after {

}

.name {
    display: flex;
    justify-content: flex-end;
    padding-top: 7px;
    padding-right: 25px;
}

.messageText {
    display: flex;
    justify-content: flex-end;
    padding-top: 3px;
    padding-right: 25px;
}

.time {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 11px;
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
}