.stand {

    display: flex;
    gap: 132px;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}


.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 150px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
