.buttonsContainer {
    display: flex;
    gap: 21px;
}

.clock {
    font-family: Montserrat;

}

.watch {
    color: rgb(0, 0, 0);

    font-size: 20px;

    line-height: 24px;
    text-align: left;
}

.watch strong {
    font-weight: 600;
}

.more {
    padding: 8px 0 27px 0;
    color: rgba(0, 0, 0, 0.5);

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}