.greetingForm {
    display: flex;
    margin-top: 57px;
    flex-direction: column;
    font-family: Montserrat, inherit;
}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
}

.error {
    color: red
}

.input, .errorInput {
    display: flex;
    width: 372px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 8px 12px;
    outline:none;
}

.input {
    border: 2px solid #D1D1D1;
}
.errorInput {
    border: 2px solid red;
}

.button {
    display: inline-flex;
    height: 36px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 3px;
    border: none;
    background: #0066CC;
    margin-left: 12px;
    color: #FFFFFF;
}
.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 9px;
}

.greeting {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 10px;
}
